{% extends 'base.html' %}
{% block title %}{{ record.resident_name }}{% endblock %}

{% block body_block %}


<div class="container mt-4">

    <div class="row mx-2">
        <div class="col-md-12 my-2">
            <h1><strong>Name:</strong> {{ record.resident_name }}</h1>
            <p><strong>Email:</strong> {{record.email_id}}</p>
            <p><strong>Place:</strong> {{record.resident_building_name}}</p>
            <p><strong>DOB:</strong> {{record.date_of_birth}}</p>
            <p><strong>Rent:</strong> ₹{{record.rent_amount}}</p>
            <p><strong>Token Amount:</strong> ₹{{record.token_amount}}</p>
            <p><strong>Start Date:</strong> {{record.contract_start_date}}</p>
            <p><strong>End Date:</strong> {{record.contract_end_date}}</p>
            <p><strong>Move In Date:</strong> {{record.move_in_date}}</p>
            <p><strong>Move Out Date:</strong> {{record.move_out_date}}</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            <a href="{% url 'resident_app:resident_update' pk=record.id %}" class="btn btn-warning">Edit</a>
        </div>
        <form method="post" action="{% url 'resident_app:resident_del' pk=record.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}